
/* Adjust the width of the scrollbar */

.swissbracket {
    margin-top: 50px;
    display: inline-flex;
    white-space: nowrap;
    padding-right: 50px !important;
    padding-bottom: 50px;
    font-size: 0;
}
.next {
    margin-top: 120px;
    text-align: right;
    margin-right: 120px;
}
.next a{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.next a:hover{
    color: rgb(253, 188, 67);
    
    text-decoration: underline;
    transition: 0.3s ease ;
}
.map_pick_all{
    display: flex;
}
div.vong1 div.matchuppair .w0-l0,
div.vong2 div.matchuppair .w1-l0,
div.vong2 div.matchuppair .w0-l1,
div.vong3 div.matchuppair .w2-l0,
div.vong3 div.matchuppair .w1-l1,
div.vong3 div.matchuppair .w0-l2,
div.vong4 div.matchuppair .w2-l1,
div.vong4 div.matchuppair .w1-l2,
div.vong5 div.matchuppair .w2-l2,
div.adva-eli div.teams .advance,
div.adva-eli div.teams .eliminate {
    width: 280px;
    background-color: rgba(128, 128, 128, 0.4);

}
#loadingMessage img,#loadingMessage p{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    display: grid;
}
div.vong1 {
    margin-left: 50px;
}

div.adva-eli {
    margin-left: 80px;
}

div.vong1 {
    display: flex;
}

div.vong2,
div.vong3,
div.vong4,
div.vong5 {
    display: flex;
}
div.title p.title-vong-1,
div.vong1 div.matchuppair div.w0-l0 div.title p.title-vong-1,
div.vong2 div.matchuppair div.w1-l0 div.title p.title-vong-2,
div.vong2 div.matchuppair div.w0-l1 div.title p.title-vong-2,
div.vong3 div.matchuppair div.w2-l0 div.title p.title-vong-3,
div.vong3 div.matchuppair div.w1-l1 div.title p.title-vong-3,
div.vong3 div.matchuppair div.w0-l2 div.title p.title-vong-3,
div.vong4 div.matchuppair div.w2-l1 div.title p.title-vong-4,
div.vong4 div.matchuppair div.w1-l2 div.title p.title-vong-4,
div.vong5 div.matchuppair div.w2-l2 div.title p.title-vong-5,
div.adva-eli div.teams .advance div.title p.title-advance,
div.adva-eli div.teams .eliminate div.title p.title-eliminate {
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
    font-weight: 750;
    margin: 0;
}

div.vong2 div.matchuppair .w1-l0 div.title p.title-vong-2,
div.vong3 div.matchuppair div.w2-l0 div.title p.title-vong-3,
div.vong4 div.matchuppair div.w2-l1 div.title p.title-vong-4,
div.adva-eli div.teams .advance div.title p.title-advance {
    background-color: rgb(253, 188, 67);
}
div.title p.title-vong-1,
div.vong1 div.matchuppair div.w0-l0 div.title p.title-vong-1,
div.vong2 div.matchuppair div.w0-l1 div.title p.title-vong-2,
div.vong3 div.matchuppair div.w1-l1 div.title p.title-vong-3 {
    background-color: rgb(166, 165, 165);
}

div.vong3 div.matchuppair div.w0-l2 div.title p.title-vong-3,
div.vong4 div.matchuppair div.w1-l2 div.title p.title-vong-4,
div.vong5 div.matchuppair div.w2-l2 div.title p.title-vong-5,
div.adva-eli div.teams .eliminate div.title p.title-eliminate {
    background-color: rgb(248, 65, 65);
}

div.vong2 div.matchuppair div.w0-l1 {
    margin-top: 30px;
}
div.vong3 div.matchuppair div.w1-l1{
    margin-top: 200px;
}
div.vong4 div.matchuppair div.w2-l1 {
    margin-top: 220px;
}

div.vong5 div.matchuppair div.w2-l2 {
    margin-top: 520px;
}

div.adva-eli .teams .eliminate {
    margin-top: 50px;
}

.matchups .matchup,
.advance .advance-teams .all-teams-win,
.eliminate .eliminate-teams .all-teams-eli {
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    display: grid;
}

.matchups .matchup:first-child,
.advance .advance-teams .all-teams-win:first-child,
.eliminate .eliminate-teams .all-teams-eli:first-child {
    padding-top: 25px;
}

.matchups .matchup:last-child,
.advance .advance-teams .all-teams-win:last-child,
.eliminate .eliminate-teams .all-teams-eli:last-child {
    padding-bottom: 25px;
    margin-bottom: 0;
}

.matchups .matchup .team,
.advance .advance-teams .all-teams-win .team,
.eliminate .eliminate-teams .all-teams-eli .team {
    display: flex;
    margin-bottom: 8px;
}

div.connection {
    display: block;
}

.matchups .matchup .team .score p,
.advance .advance-teams .all-teams-win .team .pos p {
    width: 60px;
    aspect-ratio: 1/1;
    background-color: rgb(166, 165, 165,0.2);
    justify-content: center;
    align-items: center;
    /* Center vertically */
    margin-bottom: 0;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 186, 58);

}

.matchups .matchup .team .logo-team,
.advance .advance-teams .all-teams-win .team .logo-team,
.eliminate .eliminate-teams .all-teams-eli .team .logo-team {
    background-color: white;
    width: 170px;
    justify-content: center;
    align-items: center;
    /* Center vertically */
    display: flex;

}

.eliminate .eliminate-teams .all-teams-eli .team .logo-team {
    width: 230px;
}

.matchups .matchup .team .logo-team img,
.advance .advance-teams .all-teams-win .team .logo-team img,
.eliminate .eliminate-teams .all-teams-eli .team .logo-team img {
    height: 60px;
    padding: 5px 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 17px !important;
  }
  a{
    text-decoration: none;
  }
  /* Modal content */
  .modal-content {
    background-color: #08142c;
    margin: 130px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    color: white;
    /* 80% width */

  }
  .map_pick_label{
    text-align: center;
    margin-bottom: 0;
  }
  .row1{
    background-color: #5800bc;
  }
  /* Close button */
  .close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.connection {
    display: inline-block;
    vertical-align: middle;
}

.vong1 .merger
 {
    --tw-border-opacity:1;
    border-top: solid var(--fallback-p, oklch(var(--p) / var(--tw-border-opacity)));
    border-bottom: solid  var(--fallback-p, oklch(var(--p) / var(--tw-border-opacity)));
    border-left: solid  var(--fallback-p, oklch(var(--p) / var(--tw-border-opacity)));
}

.vong2 .merger {
    --tw-border-opacity:1;
    border-top: solid var(--fallback-p, oklch(var(--p) / var(--tw-border-opacity)));
    border-bottom: solid  var(--fallback-p, oklch(var(--p) / var(--tw-border-opacity)));
    border-right: solid  var(--fallback-p, oklch(var(--p) / var(--tw-border-opacity)));
}
img.map_pick{
    width: 25%;
    margin:10px 20px;
}
.line,
.merger {
    box-sizing: border-box;
    width: 40px;
    display: inline-block;
    vertical-align: top;

}

.merger:before,
.merger::after {
    content: "";
    display: block;
    box-sizing: border-box;
    height: 50%;
    border: 0 solid;

}

.line {
    --tw-border-opacity:1;
    border-bottom: solid var(--fallback-p, oklch(var(--p) / var(--tw-border-opacity)));
}

div.vong1 .connection-line .line {
    height: 420px;
}

div.vong1 .connection-line .merger {
    height: 440px;
    margin-top: 210px;
}

div.vong2 .connection-line .connection1 .line {
    height: 430px;
}

div.vong2 .connection-line .connection1 .merger {
    height: 440px;
    margin-top: 210px;
}

div.vong2 .connection-line .connection2 .line {
    height: 335px;
}

div.vong2 .connection-line .connection2 .merger {
    height: 590px;

}

div.vong2 .adv-line  .line {
    height: 100px;
    width: 440px;
    position: absolute;
    border-bottom: rgb(255, 186, 58) solid;
}
div.vong3 .eli-line .line {
    height: 550px;
    width: 80px;
    position: absolute;
    border-bottom: solid rgb(228, 78, 78) ;
}
div.vong2>.connection-line>.eli-line>.line{
    height: 80px;
    width: 440px;
    position: absolute;
    border-bottom: solid rgb(228, 78, 78) ;
}
div.vong3 .connection-line .connection2 .merger {
    margin-top: 220px;
    height: 580px;
}

div.vong3 .connection-line .connection2 .line {
    height: 505px;
}

div.vong3 .connection-line .connection3 .merger {
    height: 575px;
}

div.vong3 .connection-line .connection3 .line {
    height: 292.5px;
}

div.vong3 .connection-line .connection4 .line {
    height: 150px;
    position: absolute;
    width: 950px;
    border-bottom: rgb(228, 78, 78) 3px solid;
    border-right: rgb(228, 78, 78) 3px solid;
}

div.vong3  .connection1 .line {
    height: 307.5px;
    width: 80px;
    position: absolute;
    border-bottom: rgb(255, 186, 58) 3px solid;
}



